body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }

  p {font-size: 16px;

  }
 
div.container-fluid.bg-2.text-center {
  padding-top: 0;
}

label {
  float: left;
}
  

  

.carousel-caption h3 {
  text-transform: uppercase;
}

  .bg-1 { 
      background-color: #FFAA00; /* yellow */
      color:  #2f2f2f;
      
  }


  .bg-2 { 
      background-color: #FFAA00; /* Dark Blue */
      color: #2f2f2f;

  }

/*  .container-fluid.bg-2 p{
    margin-left: 170px;
      margin-right: 170px;
  }

  .container-fluid.bg-2 h3{
    margin-left: 170px;
      margin-right: 170px;
  }*/

  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #FFAA00 !important;
  }

  .col-sm-2 {
    margin: 25px;

  }

div#map {
  width: 100%;
  height: 730px;
  margin: 0 auto;
 
}
  #map {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
